span {
  display: flex;
}

#outputBox {
  padding: 20px 0 20px 0;
  margin-left: 75px;
}

#calc {
  margin: auto;
  width: 50%;
}

span > div {
  background-color: gray;
  font-family: helvetica;
  height: 80px;
  width: 80px;
  border: 1px dotted black;
  text-align: center;
  font-size: 36px;
}
