h1 {
  font-family: helvetica;
}

span {
  display: flex;
}

#outputBox {
  padding: 20px 0 20px 0;
  margin-left: 75px;
}

span > div {
  font-family: helvetica;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  text-align: center;
  font-size: 36px;
}
